* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}


.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 100%;
    width: 800px;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 100px;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    margin-bottom: 20px;
}

.customization-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.background-options {
    display: flex;
    align-items: center;
}

.background-options input {
    display: none;
}

.background-options label {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
    cursor: pointer;
}

.background-options input:checked+label {
    background-color: #0078ff;
    color: #ffffff;
    border-color: #0078ff;
}

canvas {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    display: block;
    background-color: #0078ff;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 auto;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    h1 {
        font-size: 20px;
    }

    textarea {
        height: 80px;
    }

    .customization-options {
        flex-direction: column;
        align-items: center;
    }

    .background-options {
        margin-bottom: 10px;
    }
}

.text-style-options {
    display: flex;
    align-items: center;
}

/* Add this at the end of your styles.css file */

.gradient-option {
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 1px solid transparent;
    }

#background1 {
    display: none;
}

#background2 {
    display: none;
}

.gradient-option input:checked + .gradient {
    border: 1px solid #333;
}

.gradient-option .gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
}

#background2 + .gradient {
    background: linear-gradient(135deg, #B7F8DB 0%, #50A7C2 100%);
}
